#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
body {
	background: #04A1BF;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
  text-align: center;
}

p {
	font-weight: 600;
}

#heading {
  color: #ffffff;
	margin-top: 10px;
  text-align: center;
}

#first {
	margin-top: 10px;
	color: #025F70;
  text-align: center;
}

#second {
  color: #ffffff;
	margin-top: 10px;
  text-align: center;
}

#third {
	color: #025F70;
	margin-bottom: 30px;
  text-align: center;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
  margin-right: 45px;
  text-align: center;
	text-transform: capitalize;
	font-weight: 600;
  align-self: center;
}
li:hover {
	background: #76CFE0;
  margin-right: 45px;
}

li > button {
	font-weight: normal;
  align : center;
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}

input {
	min-width: 94%;
  text-align: center;
	border: none;
}


.delete {
	display: none;
}
